$green: #87a559;
$grey-text: #b2ebf2;
$grey: #cccccc;
$white: #fff;
$light-purple: #b294a8;
$main-purple: #926885;

@import url('https://fonts.googleapis.com/css?family=Comfortaa');


*{
  font-family: 'Comfortaa', cursive;
  	h1 {font-size: 4.7rem; font-weight: bold;};// TODO: set font to Myriad Pro and make bold
  	h2 {font-size: 3.5rem; font-weight: bold;};// TODO: set font to Myriad Pro and make bold
  	h3 {font-size: 3.2rem; font-weight: bold;};
  	p {font-size: 2.8rem; line-height: 1.1; font-weight: 100};
}

// *{
// 	font-family: 'lato';
// 	line-height: 1.2;
// 	letter-spacing: 1.2;
// 	box-sizing:border-box;
// 	h1 {font-size: 3.5rem;};
// 	h2 {font-size: 2.7rem;};
// 	h3 {font-size: 2rem;};
// 	h4 {font-size: 1.7rem;};
// 	h5 {font-size: 1.5rem;};
// 	p {font-size: 1.3rem;
// 		 color:$secondary-text;};
// }
